<h1><%=@team.name%></h1>
<h2>Team Motto:<%=@team.motto%></h2>

  <div class="members">
  <h2>Hero Name:<%=@members.name%></h2>
  <h3>Hero Power: <%=@members.power%></h3><br>
  <h4>Hero Biography: <%=@members.bio%></h4>
</div><br>
 


