<h1><%=team.name%></h1>
<h2>Team Motto:<%=team.motto%></h2>

<% @members.each do |member| %>
  <div class="members">

  <h2>Hero Name:<%=member.name%></h2>
  <h3>Hero Power: <%=member.power%></h3><br>
  <h4>Hero Biography: <%=member.bio%></h4>
</div><br>
<% end %>
